<h1><%= @item.title %></h1>

<ul>
  <li><strong>Description:</strong> <%= @item.description %></li>
  <li><strong>Auction ends at:</strong> <%= @item.ends_at%></li>
</ul>

<div style="display: flex; flex-direction: row;">
  <div style="flex: 1;">
    <h2>Current bids</h2>
    <div id="bids">
      <%= render_many @item.bids, AuctionWeb.BidView, "bid.html" %>
    </div>
  </div>

  <div style="flex: 1;">
    <%= if @current_user do %>
      <h2>Place your bid!</h2>

      <%= form_for @bid, Routes.item_bid_path(@conn, :create, @item), fn f -> %>
        <%= if @bid.action do %>
          <div class="alert alert-danger":
            Unfortunately there are errors in your
            sub,ission. Please correct them below.
          </div>
        <% end %>

        <div class="form-group">
          <%= label f, :amount, "Bid amount", class: "control-label" %>
          <%= error_tag f, :amount %>
          <%= number_input f, :amount, class: "form-control" %>
        </div>

        <%= submit "Submit", class: "btn btn-primary"%>
      <% end %>
    <% end %> 
  </div>
</div>
